body.page-template-contact {

	section#page-header {
		padding: 50px 0 0 0;
	}


	section#contact-form {
		padding: 50px 0;
	}

	div.wpforms-container-full {
		max-width: 560px;
	}

	div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
	div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
	div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
		max-width: 100%;
	}

	div.wpforms-container-full .wpforms-form button[type=submit] {

		color: $dark-blue;
		border: 1px solid $dark-blue;
		display: inline-block;
		padding: 12px 16px 11px 16px;
		border-radius: 12px;
		font-size: 0.875em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		background: $white;
		transition: all 0.3s ease-in-out;

		&:hover {
			background: $dark-blue;
			color: $white;
		}

	}

}