footer {
	background: $dark-blue;
	color: $white;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 75px 0;
	}

	.info {
		max-width: 640px;

		h3 {
			font-weight: 700;
			font-size: 1.5em;
			padding-bottom: 10px;
		}

		p {
			font-size: 0.9375em;
			line-height: 1.5em;

		}

		a {
			color: $white;
			text-decoration: underline;
		}

		.cta {
			padding-top: 20px;
			a {
				color: $white;
				border: 1px solid $white;
				display: inline-block;
				padding: 12px 16px 11px 16px;
				border-radius: 12px;
				font-size: 0.875em;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0.05em;

				&:hover {
					background: $white;
					color: $dark-blue;
				}

			}
		}
	}
	

}