header {
	background: $light-blue;
	color: $white;
	padding: 30px 0;
	overflow: hidden;

	@include tablet-portrait {
		padding: 40px 0;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.identity {
		text-align: center;
		width: 100%;

		@include tablet-portrait {
			text-align: left;
			width: auto;
		}

		.site-title	 {
			padding: 0 0 10px 0;

			h1 {
				font-size: 1.5em;
				line-height: 1.125em;

				@include tablet-portrait {
					font-size: 1.75em;
				}

				a {
					color: $white;
				}
			}

		}

		.site-tagline {
			h2 {
				text-transform: uppercase;
				font-size: 0.75em;
				line-height: 1.125em;
				font-weight: bold;
				letter-spacing: 0.05em;
				max-width: 240px;
				margin: 0 auto;
				

				@include tablet-portrait {
					max-width: 100%;
					margin: 0;
					font-size: 0.875em;
				}

			}
		}

	}


	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 10001;
	    position: absolute;
	    top: 12px;
	    right: 25px;

	    @include tablet-portrait {
	    	display: none;
	    }

		.patty {
		    width: 24px;
		    height: 3px;
		    background: $dark-blue;
		    border-radius: 3px;
		    transition: all 0.3s;
		    transform: translateX(17px);


			&:after, &:before {
			    content: '';
			    display: block;
			    height: 3px;
			    background: $dark-blue;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 3px;

			}
			&:before {
			    top: -8px;
			    width: 36px;
			    transform: translateX(-12px);
			}
			&:after {
			    top: 8px;
			    width: 29px;
			    transform: translateX(-5px);
			}
		}
	}


	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			    width: 36px;
			}
			&:before {
				width: 36px;
			    top: 0;
			    transform: rotate(-45deg);
			}
		}
	}
}

nav {
	background: $off-white;
	padding: 20px 0;
	display: none;

	@include tablet-portrait {
		display: block !important;
	}

	.wrapper {

		@include tablet-portrait {
			display: flex;
			justify-content: flex-end;
		}
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		text-align: center;

		a {
			display: inline-block;
			width: 100%;
			padding: 15px 0 ;
			text-transform: uppercase;
			font-size: 0.875em;
			font-weight: 600;
			color: $mid-blue;
			
			span {
				border-bottom: 3px solid $light-gray;
				padding-bottom: 3px;
				transition: all 0.2s ease-in;
			}

			&:hover {
				span {
					border-color: $light-blue;
				}
			}

			@include tablet-portrait {
				width: auto;

				& + a {
					margin-left: 40px;
				}
			}
		}
	}
}

body.home nav a.nav-home span,
body.page-template-background nav a.nav-background span,
body.page-template-resources nav a.nav-resources span,
body.page-template-who-we-are nav a.nav-who-we-are span {
	border-color: $light-blue;
}




