body.home {

	section#page-header {
		background: $green;
		color: $white;
		padding: 50px 0;
		text-align: center;

		h1 {
			font-size: 2em;
			font-weight: 600;
			line-height: 1.125em;
			font-weight: bold;

			@include tablet-portrait {
				font-size: 4em;
			}
		}

		h2 {
			font-size: 1.25em;
			font-style: italic;
			font-weight: 400;
			padding-top: 20px;

			@include tablet-portrait {
				font-size: 1.75em;
			}

		}
	}


	section#quotes {
		background: $mid-blue;
		overflow: hidden;

		article.quote {
			background: $mid-blue;
			color: $white;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			&:active,
			&:focus {
				outline: none;
			}

			.photo {
				width: 100%;

				@include tablet-portrait {
					width: 50%;
				}

				@include tablet-landscape {
					width: 66.6666%;
					max-width: 800px;
				}
			}

			.copy {
				width: 100%;
				padding: 50px;

				@include tablet-portrait {
					width: 50%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					padding: 25px;
				}

				@include tablet-landscape {
					width: 33.3333%;
				}

				@include desktop {
					padding: 50px;
					max-width: 500px;
					margin-right: auto;
				}

				blockquote {
					padding: 0;
					margin: 0;
					width: 100%	;

					p {
						font-size: 1.25em;
						line-height: 1.25em;
						font-style: italic;	

						@include tablet-portrait {
							font-size: 0.875em;
							line-height: 1.375em;
						}

						@include tablet-landscape {
							font-size: 1em;
						}

						@include desktop {
							font-size: 1.25em;
						}

						& + p {
							padding-top: 25px;
						}
					}

				}

				cite {
					padding: 25px 0 0 25%;
					display: block;
					font-style: normal;

					@include tablet-portrait {
						padding: 25px 0 0 50%;
					}


					h4 {
						font-size: 1.125em;
						padding-bottom: 5px;

						@include tablet-portrait {
							font-size: 1em;
						}

						@include desktop {
							font-size: 1.125em;
						}
					}

					h5 {
						font-size: 0.875em;
						padding-left: 20px;

						@include tablet-portrait {
							font-size: 0.75em;
						}

						@include desktop {
							font-size: 0.875em;
						}
					}
				}
			}
		}


		.slick-arrow {
			background-color: transparent;
			border: none;
			border-radius: 0;
			padding: 0;
			margin: 0;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100%;
			text-indent: -9999px;
			position: absolute;
			width: 21px;
			height: 36px;	
			top: calc(25% - 18px);

			&:before {
				display: none;
			}

			@include tablet-portrait {
				top: calc(50% - 18px);
			}

			@include tablet-landscape {
				width: 42px;
				height: 72px;	
				top: calc(50% - 36px);
			}

			&.slick-prev {
				background-image: url(images/left-arrow.svg);
				left: 25px;
			}

			&.slick-next {
				background-image: url(images/right-arrow.svg);
				right: 25px;
				left: auto;


			}
		}
	}


	section#call-to-arms {
		background: $dark-blue;
		color: $white;
		padding: 25px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 50px 0;
		}

		h2 {
			font-style: italic;
			font-size: 1.5em;
			line-height: 1.25em;

			@include tablet-portrait {
				font-size: 2.5em;
			}

		}
	}

	
	section#about {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}

		.inset {
			margin: 25px auto;
			width: 100%;
			max-width: 600px;
			background: $light-blue;
			color: $white;

			@include tablet-portrait {
				margin: 50px auto;
			}

			.sub-headline {
				background: $dark-blue;
				padding: 25px 40px;

				h4 {
					font-weight: 700;
				}
			}

			.copy {
				padding: 40px;

				h3 {
					font-size: 1.75em;
					font-style: italic;
					padding-bottom: 20px;

				}

				p {
					line-height: 1.25em;

					a {
						color: $white;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}


	section#mission {

		.feature {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.icon {
				width: 48px;

				@include tablet-portrait {
					width: 72px;
				}
			}

			.copy {
				flex: 1;
				padding: 0 0 0 40px;
			}

			& + .feature {
				margin-top: 50px;
			}
		}
	}

	section#priorities {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}
	}


}