body.page-template-resources {

	section#page-header {
		padding: 50px 0 0 0;
	}

	section#downloads {

	}

	section.document-list {
		.info-wrapper	 {
			border-top: 1px solid $light-blue;
			padding: 50px 0;
		}

		.paragraph {
			h5 {
				text-transform: uppercase;
				font-size: 1.125em;
				padding-bottom: 5px;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

			p + h5 {
				padding-top: 40px;
			}



			a {
				color: $dark-blue;
			}

			h5 + table {
				margin-top: 10px;
			}
		}

		table {
			width: 100%;

			tr:first-of-type {
				background: $light-blue;
				text-transform: uppercase;
				text-align: left;

				td {
					padding: 12px 10px 10px 10px;
				}
			}

			tr {
				&:nth-child(even) {
					background: $off-white;

				}

				& + tr {
					td {
						border-top: 1px solid $light-gray;
					}
				}

				td {
					padding: 10px;
					font-size: 0.9375em;
					line-height: 1.25em;
				}
			}
		}
		
	}
	
}