body.page-template-who-we-are {
	
	section#page-header {
		padding: 50px 0 25px 0;
	}


	section#member-list {

		table.list {
			width: 100%;

			thead {
				background: $light-blue;
				text-transform: uppercase;
				text-align: left;

				th {
					padding: 12px 10px 10px 10px;

					&.name-col {
						width: 50%;

						@include mobile-landscape {
							width: 30%;
						}						
					}

					&.second-col {
						width: 50%;

						@include mobile-landscape {
							width: 50%;
						}
					}
				}
			}

			tbody {
				td {
					padding: 10px;
					font-size: 0.9375em;
					line-height: 1.25em;

					&.name-col {
						width: 50%;

						@include mobile-landscape {
							width: 30%;
						}						
					}

					&.second-col {
						width: 50%;

						@include mobile-landscape {
							width: 50%;
						}
					}

				}

				tr {
					&:nth-child(even) {
						background: $off-white;

					}

					& + tr {
						td {
							border-top: 1px solid $light-gray;
						}
					}
				}
			}
		}
	}



	section#entities {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}
	}

}