body {
	background: $white;
}

.wrapper {
	@include wrapper-padding;

}

.narrow .wrapper {
	max-width: 840px;
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.documents-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 50px;

	@include tablet-portrait {
		padding-top: 75px;
	}

	.doc {
		width: 100%;
		margin: 0 0 50px 0;

		@include mobile-landscape {
			width: calc(45% - 50px);
			margin: 0 25px 50px 25px;
		}

		@include tablet-landscape {
			width: calc(33.3333% - 50px);
		}

		.info {
			padding-top: 20px;
			text-align: center;

			a {
				display: inline-block;
				color: $mid-blue;
				font-size: 0.875em;
				font-weight: 600;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}