html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $raleway;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $raleway;
	font-weight: 600;
}


a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

h2.section-header {
	color: $mid-gray;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.25em;
	padding: 0 0 20px 0;

	@include tablet-portrait {
		font-size: 3em;
	}
}


h3.section-header {
	color: $light-blue;
	font-weight: 600;
	font-size: 1.25em;
	line-height: 1.25em;
	padding: 0 0 20px 0;

	@include tablet-portrait {
		font-size: 1.5em;
	}
}

.paragraph {
	p {
		font-size: 1em;
		line-height: 1.75em;

		@include tablet-portrait {
			font-size: 1.125em;
			line-height: 1.5em;
		}

		& + p {
			padding-top: 40px;
		}
	}

	a {
		color: $light-blue;

		&:hover {
			text-decoration: underline;
		}
	}
}