/* Colors
----------------------------------*/
$white: #fff;
$off-white: #F2F2F2;
$light-gray: #E6E6E6;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #1a1a1a;
$black: #000;

$dark-blue: #004261;
$mid-blue: #216E8A;
$light-blue: #59C8DC;
$green: #A0CF67;



/* Typography
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i');

$raleway: 'Raleway', sans-serif;

