/*

    Theme Name: Flood and Sea Level Rise Resiliency Agency
    Theme URI: http://sanmateosealevelrise.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Flood and Sea Level Rise Resiliency Agency
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i");
/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #A0CF67;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #A0CF67;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #1a1a1a;
  font: 400 100%/1 "Raleway", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

a {
  color: #1a1a1a;
  transition: all 0.3s ease-in-out; }

h2.section-header {
  color: #7B7977;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 0 0 20px 0; }
  @media screen and (min-width: 768px) {
    h2.section-header {
      font-size: 3em; } }

h3.section-header {
  color: #59C8DC;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 0 0 20px 0; }
  @media screen and (min-width: 768px) {
    h3.section-header {
      font-size: 1.5em; } }

.paragraph p {
  font-size: 1em;
  line-height: 1.75em; }
  @media screen and (min-width: 768px) {
    .paragraph p {
      font-size: 1.125em;
      line-height: 1.5em; } }
  .paragraph p + p {
    padding-top: 40px; }

.paragraph a {
  color: #59C8DC; }
  .paragraph a:hover {
    text-decoration: underline; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1074px) {
    .wrapper {
      padding: 0; } }

.narrow .wrapper {
  max-width: 840px; }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.documents-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    .documents-wrapper {
      padding-top: 75px; } }
  .documents-wrapper .doc {
    width: 100%;
    margin: 0 0 50px 0; }
    @media screen and (min-width: 568px) {
      .documents-wrapper .doc {
        width: calc(45% - 50px);
        margin: 0 25px 50px 25px; } }
    @media screen and (min-width: 1024px) {
      .documents-wrapper .doc {
        width: calc(33.3333% - 50px); } }
    .documents-wrapper .doc .info {
      padding-top: 20px;
      text-align: center; }
      .documents-wrapper .doc .info a {
        display: inline-block;
        color: #216E8A;
        font-size: 0.875em;
        font-weight: 600; }
        .documents-wrapper .doc .info a:hover {
          text-decoration: underline; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: -35px;
  padding: 0;
  border: none;
  z-index: 100;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 20px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 20px; }
  @media screen and (min-width: 1280px) {
    .slick-prev {
      left: 40px; }
      [dir="rtl"] .slick-prev {
        left: auto;
        right: 40px; } }
  .slick-prev:before {
    background: url(images/left-arrow.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

.slick-next {
  right: 20px; }
  [dir="rtl"] .slick-next {
    left: 20px;
    right: auto; }
  @media screen and (min-width: 1280px) {
    .slick-next {
      right: 40px; }
      [dir="rtl"] .slick-next {
        left: 40px;
        right: auto; } }
  .slick-next:before {
    background: url(images/right-arrow.svg) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 100; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 6px;
        height: 6px;
        line-height: 20px;
        text-align: center;
        background: #fff;
        border: 2px solid #004261;
        border-radius: 50%; }
    .slick-dots li.slick-active button:before {
      background: #A0CF67;
      border-color: #A0CF67; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  background: #59C8DC;
  color: #fff;
  padding: 30px 0;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    header {
      padding: 40px 0; } }
  header .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  header .identity {
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      header .identity {
        text-align: left;
        width: auto; } }
    header .identity .site-title {
      padding: 0 0 10px 0; }
      header .identity .site-title h1 {
        font-size: 1.5em;
        line-height: 1.125em; }
        @media screen and (min-width: 768px) {
          header .identity .site-title h1 {
            font-size: 1.75em; } }
        header .identity .site-title h1 a {
          color: #fff; }
    header .identity .site-tagline h2 {
      text-transform: uppercase;
      font-size: 0.75em;
      line-height: 1.125em;
      font-weight: bold;
      letter-spacing: 0.05em;
      max-width: 240px;
      margin: 0 auto; }
      @media screen and (min-width: 768px) {
        header .identity .site-tagline h2 {
          max-width: 100%;
          margin: 0;
          font-size: 0.875em; } }
  header #toggle {
    width: 40px;
    cursor: pointer;
    padding: 8px 0;
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    z-index: 10001;
    position: absolute;
    top: 12px;
    right: 25px; }
    @media screen and (min-width: 768px) {
      header #toggle {
        display: none; } }
    header #toggle .patty {
      width: 24px;
      height: 3px;
      background: #004261;
      border-radius: 3px;
      transition: all 0.3s;
      transform: translateX(17px); }
      header #toggle .patty:after, header #toggle .patty:before {
        content: '';
        display: block;
        height: 3px;
        background: #004261;
        position: absolute;
        z-index: 1;
        transition: all 0.3s;
        border-radius: 3px; }
      header #toggle .patty:before {
        top: -8px;
        width: 36px;
        transform: translateX(-12px); }
      header #toggle .patty:after {
        top: 8px;
        width: 29px;
        transform: translateX(-5px); }
  header.open #toggle .patty {
    background: none; }
    header.open #toggle .patty:after {
      top: 0;
      transform: rotate(45deg);
      width: 36px; }
    header.open #toggle .patty:before {
      width: 36px;
      top: 0;
      transform: rotate(-45deg); }

nav {
  background: #F2F2F2;
  padding: 20px 0;
  display: none; }
  @media screen and (min-width: 768px) {
    nav {
      display: block !important; } }
  @media screen and (min-width: 768px) {
    nav .wrapper {
      display: flex;
      justify-content: flex-end; } }
  nav .links {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    nav .links a {
      display: inline-block;
      width: 100%;
      padding: 15px 0;
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 600;
      color: #216E8A; }
      nav .links a span {
        border-bottom: 3px solid #E6E6E6;
        padding-bottom: 3px;
        transition: all 0.2s ease-in; }
      nav .links a:hover span {
        border-color: #59C8DC; }
      @media screen and (min-width: 768px) {
        nav .links a {
          width: auto; }
          nav .links a + a {
            margin-left: 40px; } }

body.home nav a.nav-home span,
body.page-template-background nav a.nav-background span,
body.page-template-resources nav a.nav-resources span,
body.page-template-who-we-are nav a.nav-who-we-are span {
  border-color: #59C8DC; }

footer {
  background: #004261;
  color: #fff;
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 75px 0; } }
  footer .info {
    max-width: 640px; }
    footer .info h3 {
      font-weight: 700;
      font-size: 1.5em;
      padding-bottom: 10px; }
    footer .info p {
      font-size: 0.9375em;
      line-height: 1.5em; }
    footer .info a {
      color: #fff;
      text-decoration: underline; }
    footer .info .cta {
      padding-top: 20px; }
      footer .info .cta a {
        color: #fff;
        border: 1px solid #fff;
        display: inline-block;
        padding: 12px 16px 11px 16px;
        border-radius: 12px;
        font-size: 0.875em;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.05em; }
        footer .info .cta a:hover {
          background: #fff;
          color: #004261; }

/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.home section#page-header {
  background: #A0CF67;
  color: #fff;
  padding: 50px 0;
  text-align: center; }
  body.home section#page-header h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.125em;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      body.home section#page-header h1 {
        font-size: 4em; } }
  body.home section#page-header h2 {
    font-size: 1.25em;
    font-style: italic;
    font-weight: 400;
    padding-top: 20px; }
    @media screen and (min-width: 768px) {
      body.home section#page-header h2 {
        font-size: 1.75em; } }

body.home section#quotes {
  background: #216E8A;
  overflow: hidden; }
  body.home section#quotes article.quote {
    background: #216E8A;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    body.home section#quotes article.quote:active, body.home section#quotes article.quote:focus {
      outline: none; }
    body.home section#quotes article.quote .photo {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body.home section#quotes article.quote .photo {
          width: 50%; } }
      @media screen and (min-width: 1024px) {
        body.home section#quotes article.quote .photo {
          width: 66.6666%;
          max-width: 800px; } }
    body.home section#quotes article.quote .copy {
      width: 100%;
      padding: 50px; }
      @media screen and (min-width: 768px) {
        body.home section#quotes article.quote .copy {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 25px; } }
      @media screen and (min-width: 1024px) {
        body.home section#quotes article.quote .copy {
          width: 33.3333%; } }
      @media screen and (min-width: 1280px) {
        body.home section#quotes article.quote .copy {
          padding: 50px;
          max-width: 500px;
          margin-right: auto; } }
      body.home section#quotes article.quote .copy blockquote {
        padding: 0;
        margin: 0;
        width: 100%; }
        body.home section#quotes article.quote .copy blockquote p {
          font-size: 1.25em;
          line-height: 1.25em;
          font-style: italic; }
          @media screen and (min-width: 768px) {
            body.home section#quotes article.quote .copy blockquote p {
              font-size: 0.875em;
              line-height: 1.375em; } }
          @media screen and (min-width: 1024px) {
            body.home section#quotes article.quote .copy blockquote p {
              font-size: 1em; } }
          @media screen and (min-width: 1280px) {
            body.home section#quotes article.quote .copy blockquote p {
              font-size: 1.25em; } }
          body.home section#quotes article.quote .copy blockquote p + p {
            padding-top: 25px; }
      body.home section#quotes article.quote .copy cite {
        padding: 25px 0 0 25%;
        display: block;
        font-style: normal; }
        @media screen and (min-width: 768px) {
          body.home section#quotes article.quote .copy cite {
            padding: 25px 0 0 50%; } }
        body.home section#quotes article.quote .copy cite h4 {
          font-size: 1.125em;
          padding-bottom: 5px; }
          @media screen and (min-width: 768px) {
            body.home section#quotes article.quote .copy cite h4 {
              font-size: 1em; } }
          @media screen and (min-width: 1280px) {
            body.home section#quotes article.quote .copy cite h4 {
              font-size: 1.125em; } }
        body.home section#quotes article.quote .copy cite h5 {
          font-size: 0.875em;
          padding-left: 20px; }
          @media screen and (min-width: 768px) {
            body.home section#quotes article.quote .copy cite h5 {
              font-size: 0.75em; } }
          @media screen and (min-width: 1280px) {
            body.home section#quotes article.quote .copy cite h5 {
              font-size: 0.875em; } }
  body.home section#quotes .slick-arrow {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    text-indent: -9999px;
    position: absolute;
    width: 21px;
    height: 36px;
    top: calc(25% - 18px); }
    body.home section#quotes .slick-arrow:before {
      display: none; }
    @media screen and (min-width: 768px) {
      body.home section#quotes .slick-arrow {
        top: calc(50% - 18px); } }
    @media screen and (min-width: 1024px) {
      body.home section#quotes .slick-arrow {
        width: 42px;
        height: 72px;
        top: calc(50% - 36px); } }
    body.home section#quotes .slick-arrow.slick-prev {
      background-image: url(images/left-arrow.svg);
      left: 25px; }
    body.home section#quotes .slick-arrow.slick-next {
      background-image: url(images/right-arrow.svg);
      right: 25px;
      left: auto; }

body.home section#call-to-arms {
  background: #004261;
  color: #fff;
  padding: 25px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.home section#call-to-arms {
      padding: 50px 0; } }
  body.home section#call-to-arms h2 {
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.25em; }
    @media screen and (min-width: 768px) {
      body.home section#call-to-arms h2 {
        font-size: 2.5em; } }

body.home section#about {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.home section#about {
      padding: 75px 0; } }
  body.home section#about .inset {
    margin: 25px auto;
    width: 100%;
    max-width: 600px;
    background: #59C8DC;
    color: #fff; }
    @media screen and (min-width: 768px) {
      body.home section#about .inset {
        margin: 50px auto; } }
    body.home section#about .inset .sub-headline {
      background: #004261;
      padding: 25px 40px; }
      body.home section#about .inset .sub-headline h4 {
        font-weight: 700; }
    body.home section#about .inset .copy {
      padding: 40px; }
      body.home section#about .inset .copy h3 {
        font-size: 1.75em;
        font-style: italic;
        padding-bottom: 20px; }
      body.home section#about .inset .copy p {
        line-height: 1.25em; }
        body.home section#about .inset .copy p a {
          color: #fff; }
          body.home section#about .inset .copy p a:hover {
            text-decoration: underline; }

body.home section#mission .feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  body.home section#mission .feature .icon {
    width: 48px; }
    @media screen and (min-width: 768px) {
      body.home section#mission .feature .icon {
        width: 72px; } }
  body.home section#mission .feature .copy {
    flex: 1;
    padding: 0 0 0 40px; }
  body.home section#mission .feature + .feature {
    margin-top: 50px; }

body.home section#priorities {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.home section#priorities {
      padding: 75px 0; } }

body.page-template-background section.info-section {
  padding: 50px 0; }
  body.page-template-background section.info-section + section.info-section {
    padding-top: 0; }
  @media screen and (min-width: 768px) {
    body.page-template-background section.info-section {
      padding: 75px 0; } }

body.page-template-who-we-are section#page-header {
  padding: 50px 0 25px 0; }

body.page-template-who-we-are section#member-list table.list {
  width: 100%; }
  body.page-template-who-we-are section#member-list table.list thead {
    background: #59C8DC;
    text-transform: uppercase;
    text-align: left; }
    body.page-template-who-we-are section#member-list table.list thead th {
      padding: 12px 10px 10px 10px; }
      body.page-template-who-we-are section#member-list table.list thead th.name-col {
        width: 50%; }
        @media screen and (min-width: 568px) {
          body.page-template-who-we-are section#member-list table.list thead th.name-col {
            width: 30%; } }
      body.page-template-who-we-are section#member-list table.list thead th.second-col {
        width: 50%; }
        @media screen and (min-width: 568px) {
          body.page-template-who-we-are section#member-list table.list thead th.second-col {
            width: 50%; } }
  body.page-template-who-we-are section#member-list table.list tbody td {
    padding: 10px;
    font-size: 0.9375em;
    line-height: 1.25em; }
    body.page-template-who-we-are section#member-list table.list tbody td.name-col {
      width: 50%; }
      @media screen and (min-width: 568px) {
        body.page-template-who-we-are section#member-list table.list tbody td.name-col {
          width: 30%; } }
    body.page-template-who-we-are section#member-list table.list tbody td.second-col {
      width: 50%; }
      @media screen and (min-width: 568px) {
        body.page-template-who-we-are section#member-list table.list tbody td.second-col {
          width: 50%; } }
  body.page-template-who-we-are section#member-list table.list tbody tr:nth-child(even) {
    background: #F2F2F2; }
  body.page-template-who-we-are section#member-list table.list tbody tr + tr td {
    border-top: 1px solid #E6E6E6; }

body.page-template-who-we-are section#entities {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-who-we-are section#entities {
      padding: 75px 0; } }

body.page-template-resources section#page-header {
  padding: 50px 0 0 0; }

body.page-template-resources section.document-list .info-wrapper {
  border-top: 1px solid #59C8DC;
  padding: 50px 0; }

body.page-template-resources section.document-list .paragraph h5 {
  text-transform: uppercase;
  font-size: 1.125em;
  padding-bottom: 5px; }
  @media screen and (min-width: 768px) {
    body.page-template-resources section.document-list .paragraph h5 {
      font-size: 1.25em; } }

body.page-template-resources section.document-list .paragraph p + h5 {
  padding-top: 40px; }

body.page-template-resources section.document-list .paragraph a {
  color: #004261; }

body.page-template-resources section.document-list .paragraph h5 + table {
  margin-top: 10px; }

body.page-template-resources section.document-list table {
  width: 100%; }
  body.page-template-resources section.document-list table tr:first-of-type {
    background: #59C8DC;
    text-transform: uppercase;
    text-align: left; }
    body.page-template-resources section.document-list table tr:first-of-type td {
      padding: 12px 10px 10px 10px; }
  body.page-template-resources section.document-list table tr:nth-child(even) {
    background: #F2F2F2; }
  body.page-template-resources section.document-list table tr + tr td {
    border-top: 1px solid #E6E6E6; }
  body.page-template-resources section.document-list table tr td {
    padding: 10px;
    font-size: 0.9375em;
    line-height: 1.25em; }

body.page-template-contact section#page-header {
  padding: 50px 0 0 0; }

body.page-template-contact section#contact-form {
  padding: 50px 0; }

body.page-template-contact div.wpforms-container-full {
  max-width: 560px; }

body.page-template-contact div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
body.page-template-contact div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
body.page-template-contact div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
  max-width: 100%; }

body.page-template-contact div.wpforms-container-full .wpforms-form button[type=submit] {
  color: #004261;
  border: 1px solid #004261;
  display: inline-block;
  padding: 12px 16px 11px 16px;
  border-radius: 12px;
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: #fff;
  transition: all 0.3s ease-in-out; }
  body.page-template-contact div.wpforms-container-full .wpforms-form button[type=submit]:hover {
    background: #004261;
    color: #fff; }
